<!DOCTYPE html>
<html>
    <head>
        <title>About</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="icon" href="/images/cloud.png">
    </head>
    <body>
        <div class="main-content">
        {{>header}}

        <img class="portrait" src="/images/face.png">
        {{!-- <p>Created by {{name}}</p> --}}
        </div>
        
        

        {{>footer}}
    </body>
</html>